<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myACL Users</title>

    <!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style>
        .title {
            font-weight: bold;
        }
        .info {
            margin-left: 10px;
        }
        .center {
           text-align: center;   
        }
    </style>

  </head>
  <body>
    <div class="page-header">
        <h1>MyACL <small>patient progress data</small></h1>
    </div>
    <div class="container-fluid">

        <div class="input-group">
          <input id="id" type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="btnGetData">Get Data</button>
          </span>
        </div><!-- /input-group -->
        <br>
        <div id="data" style="display:none;">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">User Info</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6"><span class="title">Name</span><span class="info" id="name"></span></div>
                        <div class="col-md-6"><span class="title">PhoneID</span><span class="info" id="phoneID"></span></div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6"><span class="title">Age</span><span class="info" id="age"></span></div>
                        <div class="col-md-6"><span class="title">Gender</span><span class="info" id="gender"></span></div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6"><span class="title">Surgery Type</span><span class="info" id="surgeryType"></span></div>
                        <div class="col-md-6"><span class="title">Surgery Date</span><span class="info" id="surgeryDate"></span></div>
                    </div> 
                </div>
            </div>

            <div class="panel panel-warning">
                <!-- Default panel contents -->
                <div class="panel-heading">Progress Data</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                			<th>Type</th>
                			<th class='center'>Complete</th>
                			<th class='center'>Range of Motion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<script type="text/javascript">
            $("#btnGetData").click(function(){
                $("#data").slideUp("fast");
                $("tbody tr").remove();
                var id = $('#id').val();
                if ($.isNumeric(id)){ 
                    getData(id);
                }
            });
            function getData(id){
                $.getJSON('/api/users', {phoneID:id},function(json_data){
                    if (json_data.length > 0){
                        var table_obj = $('table');
                        $.each(json_data, function(index, result){

                             $('#phoneID').text(result.phoneID);
                             $('#name').text(result.name);
                             $('#gender').text(result.gender);
                             $('#age').text(result.age);
                             $('#surgeryType').text(result.surgeryType);
                             $('#surgeryDate').text(result.surgeryDate);

                            $.each(result.progress, function(index, progress){
                                 var table_row = $('<tr>', {});
                                 var date = $('<td>', {html: $.datepicker.formatDate('MM dd, yy', new Date(progress.day))});
                                 var type = $('<td>', {html: progress.type});
                                 if (progress.complete){
                                    var complete = '<td class="center"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>';
                                } else {
                                    var complete = '<td></td>';
                                }
                                 if (progress.rangeDegree > 0)
                                    var rom = '<td class="center">' + progress.rangeDegree + "</td>";
                                 else
                                    var rom = '<td></td>'
                                 table_row.append(date,type,complete,rom);
                                 table_obj.append(table_row);
                            })
                        })
                        $("#data").slideDown("fast");
                    }
                });
            }
    </script>
  </body>
</html>
